## Import Libraries

In [75]:
import pandas as pd

## Import Data

In [76]:
# Load data [source: https://open.toronto.ca/dataset/budget-operating-budget-program-summary-by-expenditure-category/]
df = pd.read_excel("approved-operating-budget-summary-2024.xlsx")

# Display the first few rows
print(df.head())

                      Program                           Service      Activity  \
0  Arena Boards of Management  Community Ice & Facility Booking  Not assigned
1  Arena Boards of Management  Community Ice & Facility Booking  Not assigned
2  Arena Boards of Management  Community Ice & Facility Booking  Not assigned
3  Arena Boards of Management  Community Ice & Facility Booking  Not assigned
4  Arena Boards of Management  Community Ice & Facility Booking  Not assigned

  Expense/Revenue                           Category Name  \
0        Expenses                                Benefits
1        Expenses                                Benefits
2        Expenses                                Benefits
3        Expenses                 Contribution To Capital
4        Expenses  Contribution To Reserves/Reserve Funds

                        Sub-Category Name       Commitment item        2024  \
0                              Allowances   Benefits To Be Dist  1043502.67
1                              Allowances         Car Allowance    11400.00
2                                Benefits            WSIB Admin        0.45
3                 Contribution To Capital       Cont To Capital   536600.00
4  Contribution To Reserves/Reserve Funds  Con Veh Res - Lum Sm   310000.04

  Unnamed: 8
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

## Clean Data

In [77]:
# Remove column 'Unnamed: 8'
df = df.drop(columns=['Unnamed: 8'])
print(df.head())

                      Program                           Service      Activity  \
0  Arena Boards of Management  Community Ice & Facility Booking  Not assigned
1  Arena Boards of Management  Community Ice & Facility Booking  Not assigned
2  Arena Boards of Management  Community Ice & Facility Booking  Not assigned
3  Arena Boards of Management  Community Ice & Facility Booking  Not assigned
4  Arena Boards of Management  Community Ice & Facility Booking  Not assigned

  Expense/Revenue                           Category Name  \
0        Expenses                                Benefits
1        Expenses                                Benefits
2        Expenses                                Benefits
3        Expenses                 Contribution To Capital
4        Expenses  Contribution To Reserves/Reserve Funds

                        Sub-Category Name       Commitment item        2024
0                              Allowances   Benefits To Be Dist  1043502.67
1                              Allowances         Car Allowance    11400.00
2                                Benefits            WSIB Admin        0.45
3                 Contribution To Capital       Cont To Capital   536600.00
4  Contribution To Reserves/Reserve Funds  Con Veh Res - Lum Sm   310000.04

In [78]:
# Missing values per column
print(df.isna().sum())

Program              1372
Service              1372
Activity             1372
Expense/Revenue      1372
Category Name        1372
Sub-Category Name    1372
Commitment item      1372
2024                 1372
dtype: int64

In [79]:
# Rows with missing values
print(df[df.isna().any(axis=1)])

      Program Service Activity Expense/Revenue Category Name  \
18585     NaN     NaN      NaN             NaN           NaN
18586     NaN     NaN      NaN             NaN           NaN
18587     NaN     NaN      NaN             NaN           NaN
18588     NaN     NaN      NaN             NaN           NaN
18589     NaN     NaN      NaN             NaN           NaN
...       ...     ...      ...             ...           ...
19952     NaN     NaN      NaN             NaN           NaN
19953     NaN     NaN      NaN             NaN           NaN
19954     NaN     NaN      NaN             NaN           NaN
19955     NaN     NaN      NaN             NaN           NaN
19956     NaN     NaN      NaN             NaN           NaN

      Sub-Category Name Commitment item  2024
18585               NaN             NaN   NaN
18586               NaN             NaN   NaN
18587               NaN             NaN   NaN
18588               NaN             NaN   NaN
18589               NaN             NaN   NaN
...                 ...             ...   ...
19952               NaN             NaN   NaN
19953               NaN             NaN   NaN
19954               NaN             NaN   NaN
19955               NaN             NaN   NaN
19956               NaN             NaN   NaN

[1372 rows x 8 columns]

In [80]:
# Drop rows with any NaN values
df_cleaned = df.dropna()

In [81]:
# Show number of rows and columns before removing missing values
rows, cols = df.shape
print(f"Number of rows before: {rows}")
print(f"Number of columns before: {cols}")


# Show number of rows and columns after removing missing values
rows, cols = df_cleaned.shape
print(f"Number of rows after: {rows}")
print(f"Number of columns after: {cols}")

Number of rows before: 19957
Number of columns before: 8
Number of rows after: 18585
Number of columns after: 8

In [82]:
# Check if there are any duplicates
has_duplicates = df_cleaned.duplicated().any()
print(has_duplicates)

True

In [83]:
# Check number of duplicate rows
num_duplicates = df_cleaned.duplicated().sum()
print(num_duplicates)

78

In [84]:
# Show some duplicates (Check data source for more context on duplicates)
duplicates = df_cleaned[df_cleaned.duplicated()]
print(duplicates.head())

             Program                Service               Activity  \
15367  Toronto Water  Stormwater Management  Stormwater Collection
15373  Toronto Water  Stormwater Management  Stormwater Collection
15375  Toronto Water  Stormwater Management  Stormwater Collection
15514  Toronto Water  Stormwater Management  Stormwater Collection
15538  Toronto Water  Stormwater Management  Stormwater Collection

      Expense/Revenue             Category Name         Sub-Category Name  \
15367        Expenses  Inter-Divisional Charges  Inter-Divisional Charges
15373        Expenses  Inter-Divisional Charges  Inter-Divisional Charges
15375        Expenses  Inter-Divisional Charges  Inter-Divisional Charges
15514        Expenses          Service And Rent       Contracted Services
15538        Expenses          Service And Rent       Contracted Services

            Commitment item       2024
15367    IDC-Fac Maint Svcs  386712.22
15373     IDC-Flt Misc Chgs   94998.56
15375  IDC-Flt Sht Tm Renta   50972.04
15514  C. Srv - Salt & Plow   28109.51
15538  Contr Srv- Heat& A/C    3622.50

In [85]:
# Remove duplicate rows (keeping the first occurrence)
df_cleaned2 = df_cleaned.drop_duplicates()

# Show number of rows and columns before removing duplicate values
rows, cols = df_cleaned.shape
print(f"Number of rows before: {rows}")
print(f"Number of columns before: {cols}")


# Show number of rows and columns after removing duplicate values
rows, cols = df_cleaned2.shape
print(f"Number of rows after: {rows}")
print(f"Number of columns after: {cols}")

Number of rows before: 18585
Number of columns before: 8
Number of rows after: 18507
Number of columns after: 8

## Perform Exploratory Data Analysis (EDA)

In [87]:
### Find how much revenue and expense each program costs

# Group by 'Program' and 'Expense/Revenue' and get the sum of '2024'
grouped = df_cleaned2.groupby(['Program', 'Expense/Revenue']).sum()

print(grouped['2024'])

Program                           Expense/Revenue
Arena Boards of Management        Expenses           1.079258e+07
                                  Revenues          -1.003086e+07
Association of Community Centres  Expenses           1.156222e+07
                                  Revenues          -3.316107e+05
Auditor General's Office          Expenses           7.991143e+06
                                                         ...
Transit Expansion                 Revenues          -9.040658e+06
Transportation Services           Expenses           4.808558e+08
                                  Revenues          -2.268704e+08
Yonge-Dundas Square               Expenses           3.684921e+06
                                  Revenues          -2.175000e+06
Name: 2024, Length: 113, dtype: float64

In [88]:
### Total profit / loss for each program

# Group by 'Program' and get the sum
program_totals = df_cleaned2.groupby('Program')['2024'].sum()

print(program_totals)

Program
Arena Boards of Management                             7.617211e+05
Association of Community Centres                       1.123061e+07
Auditor General's Office                               7.991143e+06
Capital & Corporate Financing                          8.841746e+08
Children's Services                                    9.362196e+07
City Clerk's Office                                    3.674999e+07
City Council                                           2.536767e+07
City Manager's Office                                  6.566414e+07
City Planning                                          9.951009e+06
Corporate Real Estate Management                       1.215353e+08
Court Services                                        -6.193280e+07
CreateTO                                              -9.313226e-10
Customer Experience                                    1.452042e+07
Economic Development & Culture                         8.301550e+07
Engineering & Construction Services                    1.224157e+06
Environment & Climate                                  1.458923e+07
Exhibition Place                                       8.000000e+05
Fire Services                                          5.180306e+08
Fleet Services                                         3.499233e+07
Heritage Toronto                                       6.389652e+05
Housing Secretariat                                    5.038535e+08
Integrity Commissioner's Office                        7.071637e+05
Legal Services                                         4.018861e+07
Mayor's Office                                         3.008771e+06
Municipal Licensing & Standards                        2.703026e+07
Non-Program Expenditures                               5.487038e+08
Non-Program Revenues                                  -2.115106e+09
Non-Program Taxation Tax Levy                         -5.303919e+09
Office of the Chief Financial Officer and Treasurer    1.444102e+07
Office of the Chief Information Security Officer       3.387269e+07
Office of the Controller                               4.549772e+07
Office of the Lobbyist Registrar                       1.381346e+06
Office of the Ombudsman                                3.792063e+06
Parks, Forestry & Recreation                           3.431237e+08
Policy, Planning, Finance & Administration             5.495361e+06
Seniors Services and Long-Term Care                    7.940512e+07
Social Development, Finance & Administration           1.101356e+08
Solid Waste Management Services                       -1.552476e+07
TO Live                                                5.599000e+06
Technology Services                                    1.271587e+08
Toronto & Region Conservation Authority                5.850669e+06
Toronto Atmospheric Fund                               0.000000e+00
Toronto Building                                      -1.614685e+07
Toronto Emergency Management                           4.978825e+06
Toronto Employment & Social Services                   8.049767e+07
Toronto Paramedic Services                             1.117653e+08
Toronto Parking Authority                             -3.192146e+07
Toronto Police Service                                 1.173915e+09
Toronto Police Services Board                          2.355300e+06
Toronto Public Health                                  7.770866e+07
Toronto Public Library                                 2.307140e+08
Toronto Shelter and Support Services                   4.889558e+08
Toronto Transit Commission - Conventional              1.075600e+09
Toronto Transit Commission - Wheel Trans               1.556490e+08
Toronto Water                                         -1.045481e+09
Toronto Zoo                                            1.293962e+07
Transit Expansion                                      2.426094e+06
Transportation Services                                2.539853e+08
Yonge-Dundas Square                                    1.509921e+06
Name: 2024, dtype: float64

In [89]:
# Find programs with the highest revenue / loss

highest_revenue_program = program_totals.idxmax()
highest_revenue = program_totals.max()

highest_loss_program = program_totals.idxmin()
highest_loss = program_totals.min()

print(f"The program with the highest revenue is {highest_revenue_program} with a total of {highest_revenue}.")
print(f"The program with the highest loss is {highest_loss_program} with a total of {highest_loss}.")

The program with the highest revenue is Toronto Police Service with a total of 1173914500.1100001.
The program with the highest loss is Non-Program Taxation Tax Levy with a total of -5303919155.299999.

In [90]:
# Find total revenue and total expenses
grouped_sums = df_cleaned2.groupby('Expense/Revenue')['2024'].sum()

print(grouped_sums)

Expense/Revenue
Expenses    1.638039e+10
Revenues   -1.747332e+10
Name: 2024, dtype: float64

In [91]:
### Total surplus / deficit for the entire budget

# Sum the values in column '2024'
sum_2024 = df['2024'].sum()

print(f"Toronto 2024 budget surplus / deficit: {sum_2024}")

Toronto 2024 budget surplus / deficit: -1087830164.08